<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productView.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <title>Farmacia / Producto nuevo </title>
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <h1>
        Ingresá tu Producto
    </h1>
    <form enctype="multipart/form-data" action="/product/create" method="post">
        <% if (typeof(errors)!= "undefined") { %>

            <ul>
                <% errors.forEach(error => { %>

                <li><%= error.msg %> </li>

                <% }) %>
            </ul>
         
        <% } %>
        

        <input type="text" name="name" placeholder="nombre producto"> <br>

        <textarea name="description" id="" cols="30" rows="10"></textarea> <br>

        <input type="file" name="image"> <br>

        <input type="text" name="price" placeholder="Precio del preoducto"><br>

        <select name="idCategory" id="">
            <% for( let i = 0; i < categories.length; i++ ) { %>
            <option value="<%= categories[i].id %>"><%= categories[i].name %> </option>
            <% } %>
        </select>

        
        <button type="submit">Enviar producto </button>


    </form>







    <%-include('./partials/footer.ejs') %>

</body>

</html>