<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/categoria.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <script src="/js/category.js"></script>
    <title>Farmacia / Categoria</title>
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <div class="category-container">
        <h1 class="title"> <%= category.name.toUpperCase() %>  </h1>
            <div class="filters">
                <h2>Categorias:</h2>
                    <% categorys.forEach(ca => { %>
                     <% if (ca.id ==category.id) { %>
                        <div class="filterContent Selected" >
                            <nav class="category ">
                                <a href='/category/<%= ca.id %> '>
                                    <h4><%=ca.name.toUpperCase() %></h4>
                                </a> 
                                    <p><a href="/category/<%= ca.id %>/ordermax">ordenar mayor</a></p>
                                    <p><a href="/category/<%= ca.id %>/ordermin">ordenar menor</a></p>
                                  
                            </nav>  
                        </div>                       
                            <% }else{ %>
                            <div class="filterContent">
                                <nav class="category">
                                    <a href='/category/<%= ca.id %> '>
                                        <h4><%=ca.name.toUpperCase() %></h4>
                                    </a>  
                                </nav>     
                            </div>
                <% }}) %>
            </div>
            <div class="imagenesProductos primera-tanda">
                <% for( let i = 0; i < 7; i++ ) { %>
                    <a href="/product/<%= category.products[i].id %> ">
                        <div class="item">
                            <img src="/images/products/<%= category.products[i].image %>" alt="foto producto">
                            <p class="name"><%= category.products[i].name %> </p> <br>
                            <p class="price"> $ <%= category.products[i].price %>  </p>
                        </div>                    
                    </a>
                <% } %>
                

        </div>
        <div class="imagenesProductos segunda-tanda" style="display: none;">
            <% for( let i = 7; i < 14; i++ ) { %>
                <a href="/product/<%= category.products[i].id %> ">
                    <div class="item">
                        <img src="/images/products/<%= category.products[i].image %>  " alt="foto producto">
                        <p class="name"><%= category.products[i].name %> </p> <br>
                        <p class="price"> $ <%= category.products[i].price %>  </p>
                    </div>                    
                </a>
            <% } %>
             

    </div>
    <div class="botones-categoria">
        <button type="button" class="uno" >1</button>
        <button type="button" class="dos">2</button>
    </div>
    </div>

   


    <%-include('./partials/footer.ejs') %>

</body>

</html>