<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/categoria.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <title>Farmacia / Categoria</title>
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <div class="category-container">
        <h1 class="title"> <%= category.name.toUpperCase() %>  </h1>
            <div class="filters">
                <h2>Filtrar por:</h2>
                <nav>
                    <h3>Overview</h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3>Design</h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3>Components </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3> Utility </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
            </div>
            <div class="imagenesProductos">
                <% for( let i = 0; i < category.products.length; i++ ) { %>
                    <a href="/product/<%= category.products[i].id %> ">
                        <div class="item">
                            <img src="/images/medicamento1.jpg " alt="foto producto">
                            <p class="name"><%= category.products[i].name %> </p> <br>
                            <p class="price"> $ <%= category.products[i].price %>  </p>
                        </div>                    
                    </a>
                <% } %>
            

        </div>
    </div>

   


    <%-include('./partials/footer.ejs') %>

</body>

</html>