<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Farmacia - Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <!--slider con js -->
    <div class="banner">
        <ul>
            <li><img src="/images/banner.jpg" alt="Foto banner"></li>
            <li><img src="/images/banner.jpg" alt="Foto banner"></li>
            <li><img src="/images/banner.jpg" alt="goto banner"></li>
            <li><img src="/images/banner.jpg" alt="foto banner"></li>
        </ul>
            
    </div>
     <div class="participantes">
         <p>Integrantes</p>
         <ul>
             <li>Gaston</li>
             <li>Irina</li>
             <li>Lolo</li>
             <li>Juanse</li>
         </ul>

     </div>



      <h1>Visitá nuestros productos</h1>
    <section class="imagenes-home">
<% categories.forEach(category => { %>
    <a href='/category/<%= category.id %> '>
    <article>

    <p style="text-transform: capitalize;"> <%= category.name %>  </p>
   <img src="/images/<%= category.icon %>" alt="Logo Higiene">
    </article>
</a>
<% }) %>

    </section>
    <%-include('./partials/footer.ejs') %>

</body>

</html>