<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Farmacia - Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <!--slider con js -->
    <div class="banner">
        
            <!--<img src="/images/banner.jpg" alt="Banner homepage"> -->
        
    </div>

      <h1>Visitá nuestros productos</h1>
    <section class="imagenes-home">
<% categories.forEach(category => { %>
    <a href='/category/<%= category.id %> '>
    <article>

    <p style="text-transform: capitalize;"> <%= category.name %>  </p>
   <img src="/images/<%= category.icon %>" alt="Logo Higiene">
    </article>
</a>
<% }) %>

    </section>
    <%-include('./partials/footer.ejs') %>

</body>

</html>