<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs')%>
    <title>Farmacia - Registrate</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('./partials/header.ejs')%>
    <div class='login-register-container'>
        <div class='register-form'>
            <h2>Iniciar Sesión</h2><br>
            <form class='register' action="/login" method="POST">
                <input type="email" name='emaillogin' class='cien' placeholder="Email"><br>
                <p class="errores" style="color: red; font-size: 13px"><% if(typeof errors != 'undefined'){ %>
                    <%	if(errors.emaillogin){ %>
                    <%= errors.emaillogin.msg %>
                    <%	} %>
                    <% } %>
                </p>
                <input type="password" name='passwordlogin' class='cien' placeholder='Contraseña'><br>
                <button type='submit'>Iniciar Sesión</button>
            </form>
        </div>
        <div class='register-form'>
            <h2>Registrate con tus datos</h2><br>
            <form class='register' action="/register" method="POST">
                <input type="text" name='name' class='cien' placeholder='Nombre'><br>
                <input type="text" name='surname' class='cien' placeholder="Apellido"><br>
                <p class="errores" style="color: red; font-size: 13px"><% if(typeof errors != 'undefined'){ %>
                    <%	if(errors.email){ %>
                    <%= errors.email.msg %>
                    <%	} %>
                    <% } %>
                </p> 
                <input type="email" name='email' class='cien' placeholder="Email"><br>
                 <p class="errores" style="color: red; font-size: 13px"><% if(typeof errors != 'undefined'){ %>
                    <%	if(errors.password){ %>
                    <%= errors.password.msg %>
                    <%	} %>
                    <% } %>
                </p>
                <input type="password" name='password' class='cien' placeholder='Contraseña'><br>
               <p class="errores" style="color: red; font-size: 13px"><% if(typeof errors != 'undefined'){ %>
                    <%	if(errors.passwordR){ %>
                    <%= errors.passwordR.msg %>
                    <%	} %>
                    <% } %>
                </p>
                <input type="password" name='passwordR' class='cien' placeholder="Repetir Contraseña"><br>
         
                <button type='submit'>Crear Usuario</button>
                <p class='terminos-condiciones'>*Al hacer click en "Crear Usuario" estas aceptando los terminos y
                condiciones de Farmacia. <a href="">Para ver los términos y condiciones haga click acá.</a></p>
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>

</html>
