<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productView.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <script src="/js/productEdit.js"></script>
    <title>Farmacia / Producto</title>
</head>

<body class="product">
    <%-include('./partials/header.ejs') %>
    <div class="principal">
        <a class="regresar" href="/category/<%=product.idCategory%>" > Regresar</a>
        <div class="imageProduct">
            <img src="/images/products/<%= product.image %>" alt="foto producto"> <!-- agregar slider con js -->
        </div>
        <div class="nameProduct">

            <h1 class="name"><%= product.name %> </h1>
            <p><%= product.description %> </p>
            <p> $ <%= product.price %> </p>

            <% if (typeof(user)!='undefined' ) { %>
            <div class="action">

                <!-- AGREGAR AL CARRITO  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

                <form action="/product/add" method="POST">
                    <!-- <div class="quantity"> -->
                    
                        <input id="quantity" name="quantity" type="number" value="1" min='1' max='100' step=1>
                       

                    <!-- </div> -->
   
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <input id="agregarCarrito"type="submit" value="Agregar al carrito">
                </form>

            </div>
            
            <div class="botonesAdmin">
                <button class="showEdit" type="button">Editar</button>
                <div class="delete">
                    <form action="/product/<%= product.id %>/delete?_method=DELETE" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                </div>
            </div>
            <% } %> 

        </div>

        <div class="edit">
            <H2>Edicion de producto</H2>
            <form action="/product/<%= product.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">

                <input type="text" name="name" value="<%= product.name %> "><br>
                <input type="text" name="price" value="<%= product.price %> "><br>
                <textarea name="description" value="<%= product.description %> " cols="30" rows="10"></textarea><br>
                <input type="file" name="image" placeholder="Elegí una imagen"><br>

                <button type="submit">Editar</button>

            </form>
        </div>

    </div>
    <div class="related">
        <h2 class="othersProducts">
            Otros Productos
        </h2>
        <% productRelated.forEach(related => { %>
        <div class="otherProduct">
            <a href="/product/<%= related.id %> "><img src="/images/products/<%= related.image %>"
                    alt="Foto del producto relacionado"></a>
            <p><%=related.name  %> </p>
        </div>
        <% }) %>

    </div>
    </div>





    <%-include('./partials/footer.ejs') %>


</body>

</html>