<!DOCTYPE html>
<html lang="en">


<head>
    <%-include('../partials/head.ejs') %>

    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js"></script>
    <title>Farmacia - <%= user.name%> <%= user.surname %></title>
</head>

<body>
    <%-include('../partials/header.ejs') %>
    <div class="total">


        <div class="contenedor-parcial-profile">
            <h2> Datos personales </h2>
            <div class="informacion">

                <img id='avatar' src="/images/avatars/<%= user.avatar %>" alt="">
                <div>
                    <h3>Nombre</h3>
                    <p><%=user.name %> <%=user.surname%> </p>
                    <h3>Email </h3>
                    <p><%=user.email %></p>


                    <h3>Descripcion</h3>
                    <p><%=user.description %></p>
                    <button type="submit" class="edicionUsuario">Edit치 tu usuario</button>
                </div>


            </div>

            <div class="showEdit">
                <div class="contenido">
                    <form method="POST" action="/user/profile/edit" enctype="multipart/form-data">
                        <input type="text" name="name" placeholder="Edit치 tu nombre" value="<%= user.name %>"> <br>
                        <input type="text" name="surname" placeholder="Apellido" value="<%= user.surname %>"> <br>
                        <input type="email" name="email" placeholder="Email" value="<%= user.email %>" disabled> <br>
                        <textarea name="description" id="" cols="30" rows="10"
                            placeholder="Agreg치 una descripci칩n !"><%= typeof(user.description) == undefined ? null: user.description%></textarea>
                        <br>
                        <input type="file" class="image" name="avatar"> <br>
                        <button type="submit" class="boton">Enviar</button>
                        <button type="button" class="cancelar boton">Cancelar</button>
                    </form>
                </div>
            </div>

        </div>

        <div class="contenedor-parcial-profile">
            <h2>Direcciones</h2>
            <% if (user.addresses.length == 0) { %>
            <p>No tiene direcciones registradas...</p>
            <% }else{ %>
            <% user.addresses.forEach(address => { %>
            <li><%= address.address %> <button>Editar</button>
                <button>Eliminar</button>
            </li>

            <% }) %>
            <%}%>
            <br>
            <button class='add-address-button'type='button'>Agregar direccion</button>
            <div class='address-form' style='display:none'>
                <form action="/user/create/address" method='POST'>
                    <input type="text" name='address' placeholder="Direccion">
                    <input type="integer" value='<%= user.id %> ' name='id' hidden>
            <button type="submit">Agregar</button>
            <button class='cancel-address-form' type='button'>Cancelar</button>
            </form>
        </div>


    </div>

    <div class="contenedor-parcial-profile compras">
        <h2>Compras</h2>

    </div>

    </div>


    <%-include('../partials/footer.ejs') %>

</body>

</html>